* {
  @apply 
    text-typo select-none
    dark:text-typo-darkmode
  ;
}

a {
  @apply 
    text-brand
    hover:text-brand-darker
    dark:text-brand-darker
    dark:hover:text-brand
  ;
}

body {
  @apply 
    bg-white
    dark:bg-body-darkmode
  ;
}

b {
  @apply 
    dark:text-white
  ;
}