.badge {
  @apply 
    inline-block bg-brand-subtle px-3 py-1 rounded-full text-xs font-bold border border-brand
    hover:bg-brand hover:cursor-pointer hover:text-white
    active:translate-y-px
    dark:bg-brand-darkmode-subtle dark:text-white dark:border-brand-darker
    dark:hover:bg-brand-darker
  ;
}