.hero {
  @apply 
    py-32 px-6 flex items-center justify-center bg-gradient-to-r from-white via-gray-100 to-white
    dark:from-body-darkmode dark:via-body-darkmode-darker dark:to-body-darkmode  
  ;

  .avatar-container {
    @apply
      flex justify-center items-center
    ;
  }

  .avatar {
    @apply
      flex items-center justify-center rounded-full border-4 border-muted mb-5 w-56 h-56
      hover:border-brand
      dark:bg-body-darkmode dark:border-muted-darkmode
      dark:hover:border-brand
    ;

    .avatar-img {
      @apply w-48 h-48 rounded-full;
    }
  }

  .heading {
    @apply 
      text-center font-mono text-brand font-bold text-5xl
      md:text-7xl
    ;
  }

  .role {
    @apply
      font-light text-center text-muted
      md:text-2xl
      dark:text-muted-darkmode
    ;
  }
}