.project-item {
  @apply 
    grid grid-cols-1 gap-8 py-5
    lg:grid-cols-2
  ;

  &:nth-child(odd) {
    .project-details {
      @apply 
        lg:order-1 lg:text-right
      ;

      .tech-stack {
        @apply lg:justify-end;
      }
    }

    .project-preview-container {
      @apply lg:order-2
    }
  }

  .featured {
    @apply text-brand font-semibold;
  
    i, .fas-solid {
      @apply text-brand mr-1;
    }
  }
  
  .project-title {
    @apply font-extrabold text-2xl mb-3;
  }
  
  .project-description {
    @apply md:text-lg;
  }
  
  .project-preview-container {
    @apply 
      flex justify-center order-first
      lg:order-none
    ;
  }
  
  .project-preview {
    @apply 
      w-full rounded shadow-lg
      lg:w-5/6
    ;
  }
}

.tech-stack {
  @apply flex flex-wrap gap-1 mt-3 mb-5;
}