.topbar {
  @apply
    sticky top-0 shadow bg-white backdrop-blur bg-opacity-75
  ;

  .topbar-container {
    @apply
      container mx-auto py-2 px-6
      md:flex md:justify-between md:items-center
    ;
  }

  .topbar-brand {
    .brand {
      @apply 
        font-mono text-brand font-black text-xl flex justify-between items-center
      ;
    }
  }

  .topbar-links {
    @apply 
      hidden
      md:block
    ;
  }

  .topbar-link {
    @apply 
      block font-semibold px-4 py-2 text-muted
      md:inline-block
      hover:text-typo
      active:translate-y-px
    ;

    &.active {
      @apply text-brand;
    }
  }
}